body {
    background-color: $backgroundColor;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $indie;
    height: 100vh;
    font-size: 18px;
    font-weight: bold;
}